<template name="about">
    <div style="text-align: center;">
        <h3>DotaFit</h3>
        <p class="flow-text">This app was made for fun and is in no way an alternative to a healthy lifestyle.</p>
        <p class="flow-text">The Dota name, logo and all other trademarks are owned by their respective parties.</p>
        <p class="flow-text">Iconography by Google - <a target="_blank" href="https://design.google.com/icons/">Material Icons</a> </p>
        <a href ="/explain"><p class="flow-text">Click here for a list of exercises in this app</p></a>
        <p class="flow-text">Developed by Keegan Crankshaw for lols</p>
    </div>
    <div style="text-align: center;">
        <a href='/' class="waves-effect waves-light btn red">Back to the app</a>
    </div>
</template>