<head>
  <title>DotaFit - Become Godlike</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<template name="home">
    <div class = "row">
        {{#each workouts}}
            {{#if checkType type "binary"}}
                <div class="col s6 m4 l3">
                    <p class="flow-text">
                        <h5>{{formatName name}}</h5>
                        <input type="checkbox" class="filled-in" id={{name}} checked="checked"/>
                        <label class="check" for={{name}}>{{formatName name}}</label>
                    </p>
                </div>
            {{/if}}
            {{#if checkType type "increment"}}
                <div class="col s6 m4 l3">
                    <p class="flow-text">
                        <h5>{{formatName name}}</h5>
                        <a id={{name}} class= "waves-effect waves-light btn green">{{formatName name}}</a>
                    </p>
                </div>
            {{/if}}
            {{#if checkType type "amount"}}
                <div class="col s6 m4 l3">
                    <p class="flow-text">
                        <h5>{{formatName name}}</h5>
                        <input id={{name}} type="number" value="0"/>
                    </p>
                </div>
            {{/if}}
            {{#if checkType type "reset"}}
                <div class="col s6 m4 l3">
                    <p class="flow-text">
                    <h5>{{formatName name}}</h5>
                        <a id={{name}} class="waves-effect waves-light btn red">{{formatName name}}</a>
                    </p>
                </div>
            {{/if}}
        {{/each}}
    </div>
    <div class="swoleBtn">
        <a class="waves-effect waves-light btn-large red">MAKE ME SWOLE</a><br>
    </div>
</template>

<template name="explain">
    <ul class="collection">
        <li class="collection-item avatar">
            <span class="title"><b>P-Type Exercise</b></span>
            <p>A sit-up or push-up. The app will total this count, then half it, so you do equal amounts of each.<br>
                <i>Don't forget leg day</i></p>
        </li>
        {{#each workouts}}
            <li class="collection-item avatar">
                <span class="title"><b>{{name}}</b></span>
                <p>{{explain}}<br>
                    <i>{{fun}}</i></p>
            </li>
        {{/each}}
    </ul>
</template>

