<head>
  <title>DotaFit</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<template name="explain">
    <ul class="collection">
        <li class="collection-item avatar">
            <span class="title"><b>P-Type Exercise</b></span>
            <p>A sit-up or push-up. The app will total this count, then half it, so you do equal amounts of each.<br>
                <i>Don't forget leg day</i></p>
        </li>
        {{#each workouts}}
            <li class="collection-item avatar">
                <span class="title"><b>{{formatName name}}</b></span>
                <p>{{explain}}<br>
                    <i>{{fun}}</i></p>
            </li>
        {{/each}}
    </ul>
</template>


<template name="results">
    <!-- implement swole multiplier-->
    <ul class="collection">
        <li class="collection-item">
            <h5>Swole-o-meter</h5>
            <form action="#">
                <p class="range-field">
                    <input type="range" id="swole" min="0" max="100" />
                </p>
            </form>
        </li>
        <li class="collection-item">
            <h5>Push-ups</h5> <b>{{pAmount}}</b>
        </li>
        <li class="collection-item">
            <h5>Sit-ups</h5> <b>{{pAmount}}</b>
        </li>
        <li class="collection-item">
            <h5>Squats</h5> <b>{{squats}} seconds</b>
        </li>
    </ul>
    <div style="text-align:center;">
        <p class="flow-text">
            Please keep in mind that DotaFit is not an alternative to a healthy lifestyle. It is still important to eat well and exercise.
            We recommend doing the exercises in reps of 10, increasing rep size as you feel comfortable.
        </p>
    </div>
    <div style="text-align:center;" class="newGame"><a id="newGame" class="waves-effect waves-light btn-large red">Play another game</a></div>
</template>
